/* Glassmorphism, from https://css.glass */

@media (prefers-color-scheme: dark) {
    .glassbox-10-blur{
        background: rgba(48, 48, 48, 0.06);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    
    .glasbox-10{
        background: rgba(42, 42, 42, 0.08);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
    }
    
    .glassbox-25{
        background: rgba(136, 136, 136, 0.28);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
    }
    
    .glasbox-50{
        background: rgba(62, 62, 62, 0.45);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.1px);
        -webkit-backdrop-filter: blur(8.1px);
    }
}

@media (prefers-color-scheme: light) {
    .glassbox-10-blur{
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    
    .glasbox-10{
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
    }
    
    .glassbox-25{
        background: rgba(255, 255, 255, 0.28);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
    }
    
    .glasbox-50{
        background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.1px);
        -webkit-backdrop-filter: blur(8.1px);
    }
}