.main-menu-button{
    transition: transform ease 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1668px) {
    .main-menu-button{
        width: 32%;
    }
} 

.main-menu-button:hover {
    transform: scale(0.9);
    z-index: 1;
  }
  
.main-menu-button:not(:hover) {
  transform: scale(1);
}