.display-inlineblock{
    display: inline-block;
}

.display-inline{
    display: inline;
}

.display-flex{
    display: flex;
}

.flexwrap-wrap{
    flex-wrap: nowrap;
}

.textalign-center{
    text-align: center;
}

.textalign-left{
    text-align: left;
}

.textalign-right{
    text-align: right;
}

.textalign-justify{
    text-align: justify;
}

.textalign-justify{
    text-align: justify;
}

.text-justify-distribute{
    text-justify: distribute;
}

.justify-items-center{
    justify-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-spacebetween{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}