.cascadia{
    font-family: 'cascadia', Consolas, monospaced;
}

.chirp{
    font-family: 'chirp', sans-serif;
}

.finalf{
    font-family: 'finalf', serif;
}

.latex-regular{
    font-family: 'latex-regular', serif;
}

.latex-italic{
    font-family: 'latex-italic', serif;
}

.latex-italic-bold{
    font-family: 'latex-italic-bold', serif;
}

.latex-italic-slim{
    font-family: 'latex-italic-slim', serif;
}

.notosans{
    font-family: 'notosans', sans-serif;
}

.productsans-bold{
    font-family: 'productsans-bold', sans-serif;
}

.productsans-bold-italic{
    font-family: 'productsans-bold-italic', sans-serif;
}

.productsans-italic{
    font-family: 'productsans-italic', sans-serif;
}

.productsans-regular{
    font-family: 'productsans-regular', sans-serif;
}

.productsans-light{
    font-family: 'productsans-light', sans-serif;
}

.sanfrancisco-regular{
    font-family: 'sanfrancisco-regular', sans-serif;
}

.sanfrancisco-rounded{
    font-family: 'sanfrancisco-rounded', sans-serif;
}

.sanfrancisco-bold{
    font-family: 'sanfrancisco-bold', sans-serif;
}

.sanfrancisco-light{
    font-family: 'sanfrancisco-light', sans-serif;
}

.unisans-heavy{
    font-family: 'unisans-heavy', sans-serif;
}

.hiragino-maru-gothic-pro{
    font-family: 'hiragino-maru-gothic-pro', sans-serif;
}

.newyork-regular{
    font-family: 'newyork-regular', serif;
}
 