@font-face {    font-family: 'mastodon';    src: url('../resources/mastodon.otf') format('opentype');       }
.mastodon   {    font-family: 'mastodon', sans-serif; transition: 0.3s; }
.mastodon:hover { background: #dcdcdc; border: 2px solid rgb(99,100,255); box-shadow: 10px 5px 5px black; color: black; padding: 2px; }
.mastodon-icon { vertical-align:middle;  z-index: 1; }

@font-face {    font-family: 'keybase';    src: url('../resources/keybase.woff') format('woff');            }
.keybase    {   font-family: 'keybase', sans-serif;  transition: 0.3s;  }
.keybase:hover  {   background: #dcdcdc;  border: 2px solid #fe6e21; box-shadow: 10px 5px 5px black; color: black; padding: 2px;    }
.keybase-icon { vertical-align:middle;  z-index: 1; }

@font-face {    font-family: 'applemusic';    src: url('../resources/applemusic.otf') format('opentype');   }
.applemusic {    font-family: 'applemusic', sans-serif; transition: 0.3s;   }
.applemusic:hover { background-color: #dcdcdc; border: 2px solid #fa2740; box-shadow: 10px 5px 5px black; color: black; padding: 2px;  }
.applemusic-icon {  vertical-align:middle;  z-index: 1; }

@font-face {    font-family: 'twitter';    src: url('../resources/twitter.woff') format('woff');    }
.twitter    {    font-family: 'twitter', sans-serif; transition: 0.3s;  }
.twitter:hover {    background-color: #dcdcdc; border: 2px solid rgb(3,169,244); box-shadow: 10px 5px 5px black; color: black; padding: 2px;   }
.twitter-icon { vertical-align:middle;  z-index: 1; }

@font-face {    font-family: 'github';    src: url('../resources/github.otf') format('truetype');           }
.github     {    font-family: 'github', sans-serif; transition: 0.5s;    }
.github:hover   {   background: #dcdcdc;  border: 2px solid #6171cc; box-shadow: 10px 5px 5px black; color: black; padding: 2px;    }
.github-icon { vertical-align:middle;  z-index: 1; }

@font-face {    font-family: 'linkedin';    src: url('../resources/linkedin.ttf') format('truetype');       }
.linkedin   {    font-family: 'linkedin', sans-serif; transition: 0.5s; }
.linkedin:hover {   background: #dcdcdc; border: 2px solid rgb(240,183,168); box-shadow: 10px 5px 5px black; color: black; padding: 2px;    }
.linkedin-icon { vertical-align:middle;  z-index: 1; }


.links-container {
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #dcdcdc;
    color: black;
    padding: 6px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 7px;
    margin-right: 10%;
    margin-left: 10%;
}