@media (prefers-color-scheme: light) {
    .img-inverter{
        filter:invert(0)
    }
}

@media (prefers-color-scheme: dark) {
    .img-inverter{
        filter:invert(1)
    }
}

.buttons-main-icon{
    width: 100px;
    height: 100px;
    transform: scale(0.8);
}

@media (max-width: 812px) {
    .buttons-main-icon{
        width: 40px;
        height: 40px;
    }
}

.back-icon{
    transition: transform ease 0.3s;
}

.back-icon:hover {
    transform: scale(0.9);
    z-index: 1;
  }
  
.back-icon:not(:hover) {
  transform: scale(1);
}